
.atila { 
/*  overflow: hidden;  */
}

.atila .atila-wrapper {
    width: 100%;
    clear: both;
    margin-bottom: 1em;
}
.atila .atila-wrapper.last {
    margin-bottom: 0;
}

.atila .panel-col-first {
    float: left;
    width: 33%;
}
.atila .panel-col-first.double {
    float: left;
    width: 67%;
}

.atila .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.atila .panel-col { 
  float: left; 
  width: 33%; 
}

.atila .panel-col.middle {
    width: 34%;
}

.atila .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.atila .panel-col-last { 
  float: left; 
  width: 33%; 
}

.atila .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.atila .panel-separator {
  margin: 0 0 1em 0;
}
